// Global Sass variables

// fonts
$font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-code: monospace;
$font-size: 100%;
$font-size-rwd: calc(0.8em + 0.5vmax);

// colors
$color-back: #fff;
$color-text: #444;
$color-foot: #cbd;
$color-code: #eee;
$color-link: #00c;
$color-hovr: #c00;
