// page header
header {

  position: relative;
  height: 40vh;
  overflow: hidden;

  picture, img {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }

  p {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.8rem;
    margin: 0.6em;
  }

  a:link, a:visited {
    text-decoration: none;
    color: $color-back;
  }

}
